**
!Dockerfile
!pyproject.toml
!README.md
!ARPHICPL.TXT
!calligraphy/
!calligraphy/**
!backend/
!backend/**
!frontend/
!frontend/**
!deploy/
!deploy/requirements-studio.lock
!deploy/start.sh
!deploy/check_fonts.py
!deploy/prepare_samples.py
!deploy/font_assets.json
!data/
!data/calligraphy_fonts.json
!data/tangshisanbaishou.json
!data/fonts/
!data/fonts/**
!data/licenses/
!data/licenses/**
**/__pycache__/
**/*.pyc
